// Import page-specific CSS files here.
@import "home";
@import "signing";

.spec-list {
 margin-left: 14px;
 padding: 19px;
 background-color: #e8e8e8;
 font-size: 15px;
}

.price-availability {
  display: flex;
}

.available-icon {
  color: green;
}

.unavailable-icon {
  color: red;
}

.your-brush-options {
  margin-top: 3px;
  h2 {
    font-size: 20px;
    color: #b3b3b3;
    margin-top: 12px;
  }
}

.btn-rent-brush {
  color: #fff;
  /* letter-spacing: 1px; */
  font-weight: med;
  text-transform: capitalize;
  background-color: #E91E63;
  border-color: #ea1f62;
  border-radius: 51px;
  width: 250px;
  }
.btn-rent-brush:hover {
  color: #fff;
  /* letter-spacing: 1px; */
  font-weight: med;
  transition: ease .5s;
  background-color: #e91e639e;
  border-color: #ea1f62;
  border-radius: 51px;

  }
.btn-custom:hover {
  color: #fff;
  /* letter-spacing: 1px; */
  font-weight: med;
  transition: ease .5s;
  background-color: #e91e639e;
  border-color: #ea1f62;
  border-radius: 51px;

  }
.btn-login:hover {
  color: #fff;
  /* letter-spacing: 1px; */
  font-weight: med;
  transition: ease .5s;
  background-color: #e91e639e;
  border-color: #ea1f62;
  border-radius: 51px;
  }
