<div class="container-rent">
     <h2>Your ready to rent?</h2>
      <div class="label form-inline">
        <%= simple_form_for [@toothbrush, @booking] do |f| %>
        <%= f.input :starting_on %>
        <%= f.input :ending_on %>
        <%= f.submit "Rent Brush", class: "btn btn-login rent-btn" %>
        <% end %>
      </div>


</div>
