<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="title">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
      <div class="info">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
           <h4> <%= @user.email %> </h4>
           <h4> <%= @user.address %> </h4>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
