<div class="booking-index-profile">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="centering-container">
        <div class="centering">
          <h1>Hey there <%= @user.first_name %>!</h1>
          <h4>Address: <strong><%= @user.address %></strong></h4>
        <div class="photo">
          <%= cl_image_tag @user.photo, crop: :fill %>
        </div>
        </div>
        </div>
    </div>
  </div>
</div>
</div>
