<div class="flex-box">
  <div class="flex-item">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="avatar">
            <%= cl_image_tag "lmi6dnyeholoyrhrhk7i", width: 150, height: 150, crop: :thumb, gravity: :face%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="avatar">

          </div>
        </div>
        <div class="col-xs-6">
          <div class="avatar">

          </div>
        </div>
        <div class="col-xs-6">
          <div class="avatar">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item">

  </div>
</div>
