 <%= render "layouts/header" %>
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <div class="home-intro-text-left">
        <h2>Check out our latest rentals</h2>
      </div>
      <div class="container-home-left">
        <%= render "layouts/card" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
     <div class="home-intro-text-right">
      <h2>What people think about us</h2>
    </div>
    <div class="container-home-right">
      <%= render "layouts/reviews" %>
    </div>
  </div>
</div>
</div>
</div>


