 <%= render "layouts/header" %>

<div class="container">
  <div class="row">

<div class="col-xs-12 col-sm-7">
 <div class="container-home-left">

        <div class="col-xs-12 col-sm-6">
          <%= render "layouts/card" %>
       </div>
      </div>
     </div>

    <div class="col-xs-12 col-sm-5">
  <div class="container-home-right">
      <%= render "layouts/reviews" %>
      <%= render "layouts/reviews" %>
    </div>
  </div>

 </div>
</div>
</div>






