<div class="header" style="  background-image: linear-gradient(-225deg, rgba(42, 93, 156, 0.6) 0%, rgba(42, 93, 156, 0.78) 50%),  url(<%= cl_image_path 'teeth.gif' %>);">
  <div class="header-content">
  <h1>Welcome to Brushare</h1>
    <p>Making the world a better place by crowd-sourcing oral hygene!</p>
    <%= link_to "Rent a toothbrush!", toothbrushes_path, class: "btn btn-custom"%>
  </div>
</div>
