<div class="header">
  <div class="header-content">
  <h1>Welcome to Brushare</h1>
    <p>Making the world a better place by crowd-sourcing oral hygene!</p>
    <%= link_to "Rent a toothbrush!", toothbrushes_path, class: "btn btn-custom"%>
  </div>
</div>
