<div class="header">
  <div class="header-content">
  <h1>Welcome to Brushare</h1>
    <p>Join the community oral hygene revolution!</p>
    <%= link_to "Rent a toothbrush!", toothbrushes_path, class: "btn btn-custom"%>
  </div>
</div>
