<div class="header">
  <div class="header-content">
  <h1>Welcome to Brushare</h1>
    <p>Crowdsourcing Oral Hygiene</p>
    <%= link_to "go to toothbrushes", toothbrushes_path, class: "btn btn-custom"%>
  </div>
</div>
