<% @review.each do |review| %>
<div class="review">
  <div class="review-name">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="review-name-text">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  </div>
  <div class="review-body">
    <p><strong>I am not sure yet!</strong></p>
    <p>
      <%= review.content %>

    </p>
  </div>

</div>
<% end %>
